bin/
obj/
TestResults/
artifacts/
.local/
local-ghidra/
local-ooanalyzer/
docs/
re/
scripts/
tests/
arcadia/*
!arcadia/.gitignore
Source-Server/*
!Source-Server/.gitignore
*.pcap
*.pcapng
*.PCAPNG
*.exe
*.dll
*.elf
*.SELF
*.BIN
*.user
*.suo
